#form-main{
	border: 1px solid #FFFFFF;
	padding: 10px;
}
.form-conatiner{
	display: flex;
}
.form-main-inner{
	padding: 3rem;
}
.form-conatiner label{
	margin-left: 10px;
	color: #7E839F;
}
.form-conatiner input{
	padding: 0.3rem;
	margin-top: 1rem;
	margin: 10px;
	border: 1px solid #E7ECFF;
}
.form-inner input{
	padding: 0.5rem 7.3rem;
	margin: 10px;
	border: 1px solid #E7ECFF;
}
.form-inner label{
	margin-left: 10px;
	color: #7E839F;
}
.btn-form{
	padding: 0.5rem;
	border: 1px solid #E7ECFF;
	background: white;
}
.form-end-btn{
	padding: 0.7rem 9rem;
	border-radius: 15px;
	color: #FFFFFF;
	background-color: #2D3779;
}
.form-service{
	border-left: 2px solid #E9F0FC;
	padding: 2rem;
}
.form-main label{
	color: #7E839F;
}
.confirm-password{
	color: #7E839F;
}
.form-service span{
	margin-top: 10px !important;
}
.from-span{
	margin-top: 1rem;
}